body,
html {
  margin: 10px;
  padding: 11px;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: white;
  
}
.contact-btn {
  background: none;
  border: none;
  color: #023c86; 
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.navbar .logo span:first-child {
  font-size: 24px;
  font-weight: bold;
  color: #1e90ff;
}

.navbar .logo span:last-child {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  padding: 0 15px;
}

.nav-links a {
  color: #023c86;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}
.navbar .logo img {
  height: 100%;
  width: 100px;
  overflow: hidden;
  align-items: center;
}
.logo {
  background-color: none;
}

#titre {
  text-shadow: 2px 2px 4px rgb(2, 60, 134);

  text-align: left;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-right: 100px;
  margin-top: 50px;
}

.text-container {
  text-align: left;
  margin: 0 100px;
}

.image-container {
  position: relative;
}

.image-container img.front {
  position: relative; 
  z-index: 2;
  width: 500px; 
  height: 500px;
}

.image-container img.behind {
  position: absolute;
  z-index: 1; 
  top: 10px;
  left: -20px;
  width: 500px; 
  height: 500px;
}
.header {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 100px;
  margin: 15px 100px;
  padding: 15px 30px; 
  overflow: hidden;
  align-items: center;
}
#subtitle {
  font-weight: bold;
  color: #5b7bdc;
  font-size: xx-large;
}
.stars {
  position: absolute;
  left: 0px;
}
.cnt {
  justify-content: center;
  align-items: center;
}

#contactus {
  background-color: #0015ff; 
  color: white; 
  border: none;
  border-radius: 50px; 
  padding: 15px 2px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; 
  width: 150px; 
}

#contactus:hover {
  background-color: #023c86; 
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  position: relative;
}
.logos:before,
.logos:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}
.logos::before {
    left: 0;
    background: linear-gradient(to left, transparent, white); 
}
.logos::after {
    right: 0;
    background: linear-gradient(to right, transparent, white); 
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos-slide img {
  height: 100px;
  margin: 0 50px;
}
.logos-slide {
  display: inline-block;

  animation: 15s slide infinite linear;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    margin-top: 80px;
}

#confiance {
    font-size: 30px; 
    color: #5b7bdc;
}
.services-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 150px;
  position: relative;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;  /* Augmente l'espace entre les flex containers */
  padding: 22px;
  position: relative;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 200px;  /* Augmente l'espace entre les boxes dans la colonne */
  justify-content: center;
}

.box-2-wrapper {
  display: flex;
  align-items: center;
}

.abstract-background {
  position: absolute;
  top: -200px;
  left: -180px;
  width: 120%;
  height: 150%;
  z-index: -1;
  background-image: url('./src/img/logo/blob.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 60%;
  margin-left: 100px;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 170px;
  margin-top: 0;
}

.service-box img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.service-box h3 {
  margin: 10px 0 5px;
  color: #023C86;
  font-size: 22px;
}

.service-box p {
  margin: 0;
  color: #5b7bdc;
  font-weight: bold;
}


.text-content {
  max-width: 600px;  /* Double la largeur maximale */
  text-align: left;
}

.text-content h2 {
  color: #023C86;
  font-size: 48px;  /* Augmente la taille du titre */
  margin-bottom: 20px;  /* Augmente l'espace sous le titre */
}

.text-content p {
  margin: 10px 0;  /* Augmente l'espace vertical */
  font-size: 20px;  /* Augmente la taille du texte */
  color: #666;
}

.contact-button {
  background-color: #0015FF;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;  /* Augmente le padding */
  cursor: pointer;
  margin-top: 20px;  /* Augmente l'espace au-dessus du bouton */
  text-align: center;
  font-size: 18px;  /* Augmente la taille du texte */
}

.contact-button:hover {
  background-color: #023c86;
}

#revo {
  font-weight: bold;
  color: black;
  font-size: 32px;  /* Augmente la taille du texte */
  margin-bottom: 20px;  /* Augmente l'espace sous le texte */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.box-247 {
  box-sizing: border-box;
  width: 1282px;
  height: 357px;
  background: linear-gradient(90deg, rgba(235, 239, 254, 0.4) 0%, rgba(139, 167, 253, 0.4) 100%);
  border: 1px solid #BCC8ED;
  border-radius: 178.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.box-247 h2 {
  font-size: 24px;
  color: #333; /* Couleur du texte */
}

.box-247 p {
  font-size: 18px;
  color: #666; /* Couleur du texte */
}

