body,
html {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: white;
  height: 50px;
  font-size: 25px;
}
.contact-btn {
  background: none;
  color: #023c86;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
}

.navbar .logo span:first-child {
  font-size: 24px;
  font-weight: bold;
  color: #1e90ff;
}

.navbar .logo span:last-child {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  padding: 0 15px;
}

.nav-links a {
  color: #023c86;
  text-decoration: none;
  font-size: 22px;
}

.nav-links a:hover {
  text-decoration: underline;
}
.navbar .logo img {
  height: 200%;
  width: 160px;
  overflow: hidden;
  align-items: center;
}
.logo {
  background-color: none;
}

.title-container {
  display: flex;
  align-items: center; 
}

#titre {
  font-size: 40px;
  text-align: left;
  margin-right: 10px;
  margin-bottom: 0;
}

.text-container {
  text-align: left;
  margin: 0 100px;
  display: flex;
  flex-direction: column; 
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-right: 100px;
  margin-top: 50px;
}

.image-container {
  position: relative;
}

.image-container img.front {
  position: relative;
  z-index: 2;
  width: 500px;
  height: 500px;
}

.image-container img.behind {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: -20px;
  width: 500px;
  height: 500px;
}
.header {
  border-radius: 100px;
  margin: 15px 100px;
  padding: 15px 30px;
  overflow: hidden;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#subtitle {
  font-weight: bold;
  color: #5b7bdc;
  font-size: xx-large;
  margin-top: 20px;
}

.cnt {
  justify-content: center;
  align-items: center;
}

#contactus {
  background-color: #0015ff;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 2px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

#contactus:hover {
  background-color: #cc0f0f;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  position: relative;
}
.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.logos::before {
  left: 0;
  background: linear-gradient(to left, transparent, white);
}
.logos::after {
  right: 0;
  background: linear-gradient(to right, transparent, white);
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos-slide img {
  height: 100px;
  margin: 0 50px;
}
.logos-slide {
  display: inline-block;

  animation: 15s slide infinite linear;
}
.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 80px;
}

#confiance {
  font-size: 30px;
  color: #5b7bdc;
}
.services-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
  padding-top: 200px;
  padding-bottom: 50px;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 22px;
  position: relative;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
}

.box-2-wrapper {
  display: flex;
  align-items: center;
}

.abstract-background {
  position: absolute;
  top: -200px;
  left: -180px;
  width: 120%;
  height: 150%;
  z-index: -1;
  background-image: url("./src/img/logo/blob.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 60%;
  margin-left: 100px;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 170px;
  margin-top: 0;
}

.service-box img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.service-box h3 {
  margin: 10px 0 5px;
  color: #023c86;
  font-size: 22px;
}

.service-box p {
  margin: 0;
  color: #5b7bdc;
  font-weight: bold;
}

.text-content {
  max-width: 600px;
  text-align: left;
}

.text-content h2 {
  color: #023c86;
  font-size: 48px;
  margin-bottom: 20px;
}

.text-content p {
  margin: 10px 0;
  font-size: 20px;
  color: #666;
}

.contact-button {
  background-color: #0015ff;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.contact-button:hover {
  background-color: #023c86;
}

#revo {
  font-weight: bold;
  color: black;
  font-size: 32px;
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 70vh;
  justify-content: center;
}

.main-title {
  font-size: 30px;
  color: #4566d6;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.sub-title {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.box-247 {
  box-sizing: border-box;
  width: 1282px;
  height: min-content;
  background: linear-gradient(
    90deg,
    rgba(235, 239, 254, 0.4) 0%,
    rgba(139, 167, 253, 0.4) 100%
  );
  border: 1px solid #bcc8ed;
  border-radius: 178.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.content {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  justify-content: center;
}

.step,
.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.arrow img {
  width: 30px;
  height: 30px;
}

.step h2 {
  font-size: 20px;
  color: #333;
  margin: 10px 0 5px;
}

.step p {
  font-size: 18px;
  color: #666;
}
.tools-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.tools-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 100%;
}

.tools-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.tool-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.tool {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.logo-figma,
.logo-elementor,
.logo-canva,
.logo-jira,
.logo-chatgpt,
.logo-mistralai,
.logo-gemini,
.logo-copilot {
  width: 130px;
  height: 100px;
}

.logo-figma {
  width: 190px;
  height: 190px;
}
.logo-wordpress {
  width: 80px;
}
.logo-elementor {
  width: 200px;
}
.background-image {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url("./src/img/logo/BGai.svg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
.contact-form {
  background: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 0 50px 0 50px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
}

legend {
  font-size: 24px;
  color: #333;
  padding-bottom: 15px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #d9e1fc;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #023c86;
  background-color: #a6b8e8;
}

.send-button {
  background-color: #5c67f2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  width: 100%;
}
.send-button:hover {
  background-color: #023c86;
}
footer {
  background-color: #ffffff;
  color: #333;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  width: 100%;
}
.footer-image {
  height: 70px;
  background-color: #000;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links-container {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  margin: 20px 0; 
}

.footer-links {
  margin-right: 20px;
}

.footer-links h4 {
  margin-bottom: 10px;
  color: #000;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #666;
  line-height: 1.6;
  font-size: 14px;
}

.footer-rights {
  text-align: center; /* Centers the copyright text */
  font-size: 14px;
  color: #666;
  width: 100%; /* Full width to center the text */
  margin-top: 20px; /* Adds spacing above the copyright */
  font-weight: bold;
}
